<h2>Add Voting Entry</h2>

<form action="/votes" method="post">

  <label for="pub_id">Voting Pub Id:</label>

  <select id='pub_id' name='pub_id'>
    <% @pubs.each do |pub| %>
        <option value="<%= pub.id %>"> <%= pub.name %> </option>
    <% end %>
  </select>

  <label for="vote1">First Vote:</label>
  <select id='vote1' name='vote1' type='text'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.name()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>
  
  <label for="vote2">Second Vote:</label>
  <select id='vote2' name='vote2' type='text'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.name()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>
  
  <label for="vote3">Thirds Vote:</label>
  <select id='vote3' name='vote3' type='text'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.name()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>

  <input type='submit' value="Submit Votes">
</form>


<br>
<a href="/pubs/new">Add new pub</a><br>
<br>
<a href="/">Back</a>