<h2>Add Voting Entry</h2>

<form action="/votes" method="post">

  <label for="pub_id">Voting Pub Id:</label>
  <select id='pub_id' name='pub_id' type='text'>
    <% @votes.each do |vote| %>
      <% if vote.vote1() == "" %>
        <option value="<%= vote.pub_id()%>"> <%= vote.pub_id() %> </option>
      <% end %>
    <% end %>
  </select>qQ

  <label for="vote1">First Vote:</label>
  <select id='pub_id' name='vote1' type='text'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.name()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>
  
  <label for="vote2">Second Vote:</label>
  <select id='pub_id' name='vote2' type='text'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.name()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>
  
  <label for="vote3">Thirds Vote:</label>
  <select id='pub_id' name='vote3' type='text'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.name()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>

  <input type='submit' value="Submit Votes">
</form>


<br>
<a href="/pubs/new">Add new pub</a><br>
<br>
<a href="/">Back</a>