

<h2>Add Voting Entry</h2>

<form action="/votes" method="post">

  <label for="pub_id">Voting Pub Id:</label>

  <select id='pub_id' name='pub_id'>
        <% @pubs.each do |pub| %>
            <option value="<%= pub.id %>"> <%= pub.name %> </option>
        <% end %>
  </select>

  <label for="vote1_id">First Vote:</label>
  <select id='vote1_id' name='vote1_id'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.id()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>
  
  <label for="vote2_id">Second Vote:</label>
  <select id='vote2_id' name='vote2_id'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.id()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>
  
  <label for="vote3_id">Thirds Vote:</label>
  <select id='vote3_id' name='vote3_id'>
    <% @pubs.each do |pub| %>
      <option value="<%= pub.id()%>"> <%= pub.name() %> </option>
    <% end %>
  </select>

  <input type='submit' value="Submit Votes">
</form>


<br>
<a href="/pubs/new">Add new pub</a><br>
<br>
<a href="/">Back</a>